
/* card.module.css */

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.card {
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
  width: 300px; /* Adjust width as needed */
  margin-bottom: 10px; /* Add margin to separate cards */
}

.inner {
  display: flex;
  flex-direction: column;
}

.cardimg {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  border-bottom: solid 1px black; /* Add border to separate image from content */
}

.content {
  padding: 10px; /* Add padding to the content */
}

.followers {
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  padding: 5px 10px; /* Add padding to the box */
  border-radius: 5px; /* Add border radius to round the corners */
}

.titleContainer {
  margin-top: 10px; /* Add margin to separate title from card */
}

.title {
  color: rgb(255, 255, 255); /* Set title color to black */
}