.navbar {
    background-color: #34C94B; /* Set background color for navbar */
    max-width: auto; /* Allow navbar to expand to fit content */
    padding: 10px 20px; /* Add padding inside the navbar */
    width: fit-content; /* Ensure navbar takes up full width of its container */
    display: flex; /* Use flexbox layout for navbar */
    margin: 0px; /* Remove any default margin */
    align-items: center;
}

.logo {
    padding-right: 10px; /* Add right padding to logo */
    padding-left: 10px; /* Add left padding to logo */
    margin: auto 0; /* Vertically center the logo */
    padding-right:4rem;
}

.feedback {
    margin-top: 1em; /* Add margin to the top of feedback section */
}
