.navbar{
   background-color: #34C94B;
   max-width: auto;
   padding: 10px 20px; /* Add padding as needed */
   width: 100%; 
   display: flex;
   margin: 0px;
}

.logo{
    padding-right: .1 rem;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border: solid 5px black;
}

.feedback{
    margin-top: 1em;
}