.navbar {
    background-color: #34C94B;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 25px;
}

.feedback {
    margin-top: 1em;
}
