.button {
    background-color: rgb(10, 1, 1);
    color: #008000; /* Variant of green */
    border-radius: 12px;
    cursor: pointer;
    padding: .1em 1em;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
}


img{
    padding:15px;
}