.button {
    background-color: #121212; /* Green background color */
    color: #34C94B; /* White text color */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    padding: 10px 20px; /* Adjust padding as needed */
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    border: none; /* Remove border */
    outline: none; /* Remove default outline */
  }
  
  .button:hover {
    background-color: #006400; /* Darker green on hover */
  }
  
  .button:focus {
    box-shadow: 0 0 0 2px #008000; /* Add focus ring */
  }
  